body,
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, nav, a{
	direction: rtl;
	unicode-bidi: embed;
	text-align: right;
}
#nav{float: left;}
#nav li, #nav li a{float: right;}
.logo_wrapper{
	right: 0;
	left: initial !important;
}
.meta-item.meta-item-share{float: left;}
.meta-item{margin-right: 0;}
.soc_sharing ul{float: right;}
.thr_share_button{float: left;}
.main_content_wrapper .read_more_button i, .main_content_wrapper .thr_button i{float: right; margin: 5px 0 0 5px;}
.thr_share_button{border-left: none; border-right: 1px solid transparent;}
.entry-header .meta-item, .entry-meta .meta-item{float: right; margin-left: 15px;}
.entry-header .meta-item i, .entry-meta .meta-item i{float: right;margin-right:0; margin-left: 5px; margin-top: 5px;}
#sidebar .widget-title span{padding: 0 0 10px 20px;}
.widget_categories ul li a, .widget_archive ul li a{float: right;}
.widget_categories ul li a, .widget_archive ul li a{margin-right: 0; margin-left: 10px;}
.mks_themeforest_widget ul li,ul.flickr li, .widget ul.flickr li{float: right !important;}
#pagination .next, #pagination .post_next a{float: left;}
#pagination .prev, #pagination .post_previous a{float: right;}
#pagination .next:after, #pagination .post_next a:after{float: left; margin: 1px 5px 0 0;}
#pagination .prev:before, #pagination .post_previous a:before{float: right; margin: 1px 0 0 5px;}
.thr_author_link{float: left; margin: 8px 20px 0 0;}
.underlined_heading span{padding: 0 0 10px 20px;}
.data-image{float: right; margin: 0 0 0 15px;}
.soc_squared,.thr_author_links{float: left;}
.comment-reply-title:after{right: 0; left: initial;}
.search_form i{left: 15px; right: initial;}
.featured_excerpt{padding: 5px 0 0 20px	;}
.featured_image{float: right;}
.layout_b .entry-image, .layout_e .entry-image{margin: 0 0 0 30px;}
.layout_b .entry-content{margin: 0 297px 0 0;}
.layout_d .entry-image{margin: 0 0 0 20px;}
.button_respond{float: left;}
.comment-list img.avatar{left: initiall; right: 0; margin: 0 0 0 20px;}
.comment-body .comment-meta{margin:5px 80px 0 0;}
.comment-metadata time:before{float: right; margin:0 0 0 5px;}
#nav .menu-item-has-children:after{margin: 48px 5px 0 0;}
#nav .sub-menu a{text-align: right;}
#sidebar .mks_author_widget img{float: right; margin: 0 0 0 20px;}
.mks_author_link, .mks_read_more a{float: right;}
.layout_b .entry-meta, .layout_d .entry-meta{display: inline-block;}